/* HEADER SECTION */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: thin solid black;
  width: 100%;
  height: auto;
  background-color: white;
  justify-content: space-between;
}
.logo {
  align-items: center;
  display: flex;
  color: MediumAquamarine;
}
.logo img {
  padding: 10px;
}
nav {
  display: flex;
  padding-right: 20px;
}
nav li {
  display: inline-block;
  padding: 0 15px;
}
nav a {
  color: black;
}
/* MAIN CONTENT */
#main {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: flex;
  padding: 100px 50px;
  width: 1250px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.column .large {
  width: 630px;

}
.large h1 {
  background-image: url("./resources/images/img-story-main.png");
  background-size: cover;
  background-position: bottom;
  height: 300px;
  color: white;
  width: 630px;

}
.stories {
}
.large h3 {
  background-image: url("./resources/images/img-story-2.png");
  color: white;
  height: 300px;
  background-size: cover;

}
.column .medium {
  width: 300px;
}

.column .small {
  width: 240px;
}
.column .small h4 {
  text-align: center;
}
.column .small p {
  background-color: whitesmoke;
  font-family: Verdana;
  font-size: 12px;
  color: Dimgray;
  margin: 0px;
  border-bottom: thin solid black;
  padding: 15px 10px;

}

/* FOOTER SECTION */
footer {
  display: flex;
  height: 325px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
  margin: auto;
}
footer nav {
  display: inline;
  padding-left: 25px;
}
nav a {
  padding: 25px;
}
span.title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: inline-block;
  padding-right: 25px;
  border-right: thin solid white;
}
.copyright {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
